
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>



   <form method="post" action="#">
      <input type="text" name="username" placeholder="Username?">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="LOG IN?">
    </form>